.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  width: 500px;
  text-align: center;
}

.currentGames {
  padding-right: 20px;
}

.joinGame {
  padding-left: 20px;
}
